# Python virtual environment directories
venv/
.venv/
env/
.env/

# Python cache files
__pycache__/
*.pyc
*.pyd
*.pyo

# Build and distribution files
dist/
build/
*.egg-info/
.pytest_cache/

# IDE/Editor specific files
.idea/             # PyCharm/IntelliJ
.vscode/           # VSCode
*.swp              # Vim


# Directory for scraped data (JSON and PDF)
data/

# Temporary files created during the captcha process
captcha_element.png
temp_captcha_*.png
temp_*.png

# Logs
*.log